/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../image/library.png') no-repeat center center/cover; /* Set your library-themed background image here */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
}

/* General Home Icon Styles */
.home {
    position: fixed; 
    top: 20px;
    left: 20px;
    z-index: 1000; 
}

.home a {
    display: inline-block;
    text-decoration: none;
    background-color: #eb7907; 
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.home a i {
    color: #fff; 
    font-size: 24px; 
}

.home a:hover {
    background-color: #ff871e; 
    transform: scale(1.1);
}


.signup-container .home a{
    text-align: left;
}


.login-box {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(10px); 
-webkit-backdrop-filter: blur(10px); 
    text-align: center;
    color: #fff;
    max-width: 400px;
    width: 100%;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.25); /* Transparent input field */
    color: #fff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.input-group input::placeholder {
    color: #d1d1d1;
}

.login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #eb7907;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #d56707;
}

.signup-link {
    margin-top: 20px;
}

.signup-link a {
    color: #ffb061d0;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .login-box {
        padding: 20px;
    }
}
